

<div class="container">
    <h1 style="text-align: center;">cars</h1>
      <div class="row">
      
          <div class="col-lg-3 col-md-6 col-sm-12 mt-5"  >
              <div class="card " style="width:250px" >
                
                <img class="card-img-top" src="../../assets/{{items.product_image}}" alt="Card image" style="width:100%;height:200px">
                <div class="card-body">
                  <h4 class="card-title">{{items.stock}}</h4>
                  <!-- <h3 class="card-title">{{item.price|currency}}</h3> -->
                  <h3 class="card-title">{{items.price|currency:'EGP'}}</h3>
                  <!-- <h3 class="card-title">by dollar:{{item.price|egttousd}}</h3> -->
                 
                  <!-- <h3 class="card-title">{{item.date|date}}</h3> -->
                  <p class="card-text">{{items.description}}</p>
                
                </div>
              </div>
            </div>
          </div>
          
  </div>