<div class="container">
  <h1 style="text-align: center;">Mobiles</h1>
    <div class="row">
    
        <div class="col-lg-3 col-md-6 col-sm-12  mt-4" *ngFor="let item of items" >
            <div class="card " style="width:250px" >
              <img class="card-img-top" [src]=item.cardimage alt="Card image" style="width:200px;height:200px">
              <div class="card-body">
                <h4 class="card-title">{{item.card_name}}</h4>
                <!-- <h3 class="card-title">{{item.price|currency}}</h3> -->
                <h3 class="card-title">{{item.price|currency:'EGP'}}</h3>
                <!-- <h3 class="card-title">by dollar:{{item.price|egttousd}}</h3> -->
               
                <!-- <h3 class="card-title">{{item.date|date}}</h3> -->
                <p class="card-text">{{item.description}}</p>
                <a href="#" class="btn btn-primary">See Profile</a>
              </div>
            </div>
          </div>
        </div>
        
</div>

